In [585]:
import pandas as pd

In [586]:
df_2013 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2013.csv")
#df_2014 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2013.csv")
df_2015 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2015.csv")
df_2016 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2016.csv")
df_2017 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2017.csv")
df_2018 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2018.csv")
df_2019 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2019.csv")
df_2020 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2020.csv")
df_2021 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2021.csv")
df_2022 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2022.csv")
df_2023 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2023.csv")
df_index = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\WorldHappinessIndex2013-2023.csv")

In [587]:
anos = [2013, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
dfs = [df_2013, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023]

In [588]:
for i in range(len(dfs)):
    dfs[i]['Year'] = anos[i]

In [589]:
df_2020_select = df_2020[['Country name','Ladder score','Explained by: Log GDP per capita','Explained by: Social support','Explained by: Healthy life expectancy','Explained by: Freedom to make life choices','Explained by: Generosity','Explained by: Perceptions of corruption','Year']]

In [590]:
df_2018.drop(columns='Overall rank', inplace=True)
df_2019.drop(columns='Overall rank', inplace=True)

In [591]:
df_2018.rename(columns={'Country or region': 'Country'}, inplace=True)
df_2019.rename(columns={'Country or region': 'Country'}, inplace=True)
df_2020_select.rename(columns={'Country name': 'Country',
                               'Ladder score':'Score'}, inplace=True)

C:\Users\Sávio\AppData\Local\Temp\ipykernel_3448\1269078788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_select.rename(columns={'Country name': 'Country',

In [592]:
df_2018.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [593]:
df_2019.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [594]:
df_2021_select = df_2021[['Country name','Ladder score','Explained by: Log GDP per capita','Explained by: Social support','Explained by: Healthy life expectancy','Explained by: Freedom to make life choices','Explained by: Generosity','Explained by: Perceptions of corruption','Year']]

In [595]:
df_2020_select.rename(columns={'Country name':'Country',
                        'Ladder score':'Score',
                        'Explained by: Log GDP per capita':'GDP per capita',
                        'Explained by: Perceptions of corruption':'Perceptions of corruption',
                        'Explained by: Generosity':'Generosity',
                        'Explained by: Freedom to make life choices':'Freedom to make life choices',
                        'Explained by: Social support':'Social support',
                        'Explained by: Healthy life expectancy':'Healthy life expectancy'
                        }, inplace=True)

C:\Users\Sávio\AppData\Local\Temp\ipykernel_3448\668414747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_select.rename(columns={'Country name':'Country',

In [596]:
df_2020_select

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2020
1,Denmark,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2020
2,Switzerland,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2020
3,Iceland,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2020
4,Norway,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2020
...,...,...,...,...,...,...,...,...,...
148,Central African Republic,3.4759,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2020
149,Rwanda,3.3123,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,2020
150,Zimbabwe,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,2020
151,South Sudan,2.8166,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,2020
152,Afghanistan,2.5669,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,2020

In [597]:
df_2021_select.rename(columns={'Country name':'Country',
                        'Ladder score':'Score',
                        'Explained by: Log GDP per capita':'GDP per capita',
                        'Explained by: Perceptions of corruption':'Perceptions of corruption',
                        'Explained by: Generosity':'Generosity',
                        'Explained by: Freedom to make life choices':'Freedom to make life choices',
                        'Explained by: Social support':'Social support',
                        'Explained by: Healthy life expectancy':'Healthy life expectancy'
                        }, inplace=True)

C:\Users\Sávio\AppData\Local\Temp\ipykernel_3448\3062431399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021_select.rename(columns={'Country name':'Country',

In [598]:
df_2021_select.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481,2021
1,Denmark,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2021
2,Switzerland,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2021
3,Iceland,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2021
4,Netherlands,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2021

In [599]:
valores = [df_2018, df_2019, df_2020_select, df_2021_select]

In [600]:
#df_concat = pd.concat(valores)
#df_concat.head()

In [601]:
#df_concat.info()

In [602]:
df_2022.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year
0,1,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,0.109,0.534,2022
1,2,Denmark,7.636,7.710,7.563,2.226,1.953,1.243,0.777,0.719,0.188,0.532,2022
2,3,Iceland,7.557,7.651,7.464,2.320,1.936,1.320,0.803,0.718,0.270,0.191,2022
3,4,Switzerland,7.512,7.586,7.437,2.153,2.026,1.226,0.822,0.677,0.147,0.461,2022
4,5,Netherlands,7.415,7.471,7.359,2.137,1.945,1.206,0.787,0.651,0.271,0.419,2022

In [603]:
df_2022.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Year'],
      dtype='object')

In [604]:
df_2022 = df_2022[['Country','Happiness score','Explained by: GDP per capita','Explained by: Social support','Explained by: Healthy life expectancy','Explained by: Freedom to make life choices','Explained by: Generosity','Explained by: Perceptions of corruption','Year']]
df_2022.head()

,Country,Happiness score,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year
0,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534,2022
1,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532,2022
2,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191,2022
3,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461,2022
4,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419,2022

In [605]:
df_2022.rename(columns={'Country name':'Country',
                        'Happiness score':'Score',
                        'Explained by: GDP per capita':'GDP per capita',
                        'Explained by: Perceptions of corruption':'Perceptions of corruption',
                        'Explained by: Generosity':'Generosity',
                        'Explained by: Freedom to make life choices':'Freedom to make life choices',
                        'Explained by: Healthy life expectancy':'Healthy life expectancy',
                        'Explained by: Social support':'Social support'
                        }, inplace=True)

C:\Users\Sávio\AppData\Local\Temp\ipykernel_3448\717688919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022.rename(columns={'Country name':'Country',

In [606]:
df_2022.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534,2022
1,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532,2022
2,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191,2022
3,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461,2022
4,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419,2022

In [607]:
df_2023.head()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363,2023
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084,2023
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250,2023
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691,2023
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110,2023

In [608]:
df_2023.columns

Index(['Country name', 'Ladder score', 'Standard error of ladder score',
       'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual', 'Year'],
      dtype='object')

In [609]:
df_2023 = df_2023[['Country name','Ladder score','Explained by: Log GDP per capita','Explained by: Social support','Explained by: Healthy life expectancy','Explained by: Freedom to make life choices','Explained by: Generosity','Explained by: Perceptions of corruption','Year']]

In [610]:
df_2023.rename(columns={'Country name':'Country',
                        'Ladder score':'Score',
                        'Explained by: Log GDP per capita':'GDP per capita',
                        'Explained by: Perceptions of corruption':'Perceptions of corruption',
                        'Explained by: Generosity':'Generosity',
                        'Explained by: Freedom to make life choices':'Freedom to make life choices',
                        'Explained by: Healthy life expectancy':'Healthy life expectancy',
                        'Explained by: Social support':'Social support'
                        }, inplace=True)

C:\Users\Sávio\AppData\Local\Temp\ipykernel_3448\1657285115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.rename(columns={'Country name':'Country',

In [611]:
df_2023.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.804,1.888,1.585,0.535,0.772,0.126,0.535,2023
1,Denmark,7.586,1.949,1.548,0.537,0.734,0.208,0.525,2023
2,Iceland,7.530,1.926,1.620,0.559,0.738,0.250,0.187,2023
3,Israel,7.473,1.833,1.521,0.577,0.569,0.124,0.158,2023
4,Netherlands,7.403,1.942,1.488,0.545,0.672,0.251,0.394,2023

In [612]:
valores = [df_2018, df_2019, df_2020_select, df_2021_select, df_2022, df_2023]

In [613]:
df_concat = pd.concat(valores, ignore_index=True)
df_concat.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [616]:
df_concat.to_excel('report_felicidade.xlsx', index=False)

In [615]:
df_concat.shape

(897, 9)

In [614]:
df_index.sort_values(by='Rank')

          Country  Year  Index  Rank
1465      Finland  2022  7.821   1.0
263   Switzerland  2015  7.587   1.0
1256      Finland  2021  7.842   1.0
19        Denmark  2013  7.693   1.0
1082      Finland  2020  7.809   1.0
...           ...   ...    ...   ...
1637  Puerto Rico  2023    NaN   NaN
1642        Qatar  2023    NaN   NaN
1645     Djibouti  2023    NaN   NaN
1663        Congo  2023    NaN   NaN
1666       Rwanda  2023    NaN   NaN

[1670 rows x 4 columns]