<a href="https://colab.research.google.com/github/CleverGnd/Projeto_Tecnicas_de_Programacao_I/blob/main/Projeto_Final_4Mod_ADA_DADOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando as bibliotecas necessaria para a analise.

In [51]:
import pandas as pd
import numpy as np
import zipfile
import io
from io import StringIO

Abrindo e identificando os Dados

In [86]:
# Caminho para o arquivo ZIP
caminho_arquivo_zip = 'DADOSFELIZ.zip'

# Lista para armazenar os dados de cada arquivo
dados = []

# Abre o arquivo ZIP em modo leitura
with zipfile.ZipFile(caminho_arquivo_zip, 'r') as arquivo_zip:
    # Itera sobre os arquivos dentro do ZIP
    for nome_arquivo in arquivo_zip.namelist():
        # Lê o conteúdo do arquivo
        with arquivo_zip.open(nome_arquivo) as arquivo_dentro_zip:
            # Decodifica o conteúdo para uma string
            conteudo_str = arquivo_dentro_zip.read().decode("utf-8")

            # Cria um DataFrame com os dados do arquivo
            df = pd.read_csv(StringIO(conteudo_str))  # Usa StringIO diretamente

            # Adiciona o DataFrame à lista
            dados.append(df)

# Concatena todos os DataFrames da lista em um único DataFrame
df_final = pd.concat(dados, ignore_index=True)

# Imprime o DataFrame resultante
print(df_final)

                Country Region  Ladder  Social Support  Freedom  Corruption  \
0           Afghanistan      4   4.040           0.525    0.540       0.755
1               Albania      1   5.550           0.759    0.553       0.827
2               Algeria      8   5.422           0.831    0.551       0.681
3                Angola      9   5.589           0.723    0.584       0.912
4             Argentina      6   6.562           0.906    0.764       0.810
...                 ...    ...     ...             ...      ...         ...
3188  Congo Brazzaville    NaN     NaN             NaN      NaN         NaN
3189             Rwanda    NaN     NaN             NaN      NaN         NaN
3190     Congo Kinshasa    NaN     NaN             NaN      NaN         NaN
3191            Comoros    NaN     NaN             NaN      NaN         NaN
3192           Zimbabwe    NaN     NaN             NaN      NaN         NaN

      Donation  Generosity  Positive Affect  Negative Affect  ...  \
0        0.348       0.207            0.663            0.270  ...
1        0.112      -0.192            0.627            0.276  ...
2        0.106      -0.194            0.567            0.245  ...
3        0.322       0.046            0.659            0.361  ...
4        0.199      -0.150            0.847            0.238  ...
...        ...         ...              ...              ...  ...
3188       NaN         NaN              NaN              NaN  ...
3189       NaN         NaN              NaN              NaN  ...
3190       NaN         NaN              NaN              NaN  ...
3191       NaN         NaN              NaN              NaN  ...
3192       NaN         NaN              NaN              NaN  ...

      Dystopia + residual  RANK  Happiness score  Whisker-high  Whisker-low  \
0                     NaN   NaN              NaN           NaN          NaN
1                     NaN   NaN              NaN           NaN          NaN
2                     NaN   NaN              NaN           NaN          NaN
3                     NaN   NaN              NaN           NaN          NaN
4                     NaN   NaN              NaN           NaN          NaN
...                   ...   ...              ...           ...          ...
3188                  NaN   NaN              NaN           NaN          NaN
3189                  NaN   NaN              NaN           NaN          NaN
3190                  NaN   NaN              NaN           NaN          NaN
3191                  NaN   NaN              NaN           NaN          NaN
3192                  NaN   NaN              NaN           NaN          NaN

      Dystopia (1.83) + residual  Explained by: GDP per capita    Year  Index  \
0                            NaN                           NaN     NaN    NaN
1                            NaN                           NaN     NaN    NaN
2                            NaN                           NaN     NaN    NaN
3                            NaN                           NaN     NaN    NaN
4                            NaN                           NaN     NaN    NaN
...                          ...                           ...     ...    ...
3188                         NaN                           NaN  2023.0  5.267
3189                         NaN                           NaN  2023.0    NaN
3190                         NaN                           NaN  2023.0  3.207
3191                         NaN                           NaN  2023.0  3.545
3192                         NaN                           NaN  2023.0  3.204

       Rank
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
3188   86.0
3189    NaN
3190  133.0
3191  130.0
3192  134.0

[3193 rows x 61 columns]

In [87]:
df_final.head(500)

,Country,Region,Ladder,Social Support,Freedom,Corruption,Donation,Generosity,Positive Affect,Negative Affect,...,Dystopia + residual,RANK,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Year,Index,Rank
0,Afghanistan,4,4.040,0.525,0.540000,0.755,0.348,0.207000,0.663,0.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,1,5.550,0.759,0.553000,0.827,0.112,-0.192000,0.627,0.276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,8,5.422,0.831,0.551000,0.681,0.106,-0.194000,0.567,0.245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,9,5.589,0.723,0.584000,0.912,0.322,0.046000,0.659,0.361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,6,6.562,0.906,0.764000,0.810,0.199,-0.150000,0.847,0.238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Mexico,NaN,NaN,NaN,0.412730,NaN,NaN,0.120990,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,Singapore,NaN,NaN,NaN,0.549841,NaN,NaN,0.345966,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,Malta,NaN,NaN,NaN,0.588767,NaN,NaN,0.574731,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,Uruguay,NaN,NaN,NaN,0.579392,NaN,NaN,0.175097,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,Guatemala,NaN,NaN,NaN,0.531311,NaN,NaN,0.283488,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

preenchendo os valores ausentes com o numero anterior, ou excluir todos os dados nul NaN????

In [72]:
#
# df_preenchido = df_final.copy()
# df_preenchido['Index'].ffill(inplace=True)
# df_preenchido['Rank'].ffill(inplace=True)

Ordenando a colunan Rank

In [96]:
df_final.head(7)
df_ordenado = df_final.sort_values(by='Rank')

In [98]:
df_ordenado.head(600)

,Country,Region,Ladder,Social Support,Freedom,Corruption,Donation,Generosity,Positive Affect,Negative Affect,...,Dystopia + residual,RANK,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Year,Index,Rank
2988,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,7.821,1.0
1786,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,7.587,1.0
2779,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0,7.842,1.0
1542,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,7.693,1.0
2605,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020.0,7.809,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2332,Kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,5.790,60.0
2863,Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,5.904,60.0
3144,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0,5.843,60.0
1852,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,5.791,60.0
2085,Kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,5.819,60.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670 entries, 0 to 1669
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  1670 non-null   object
 1   Year     1670 non-null   int64
 2   Index    1523 non-null   float64
 3   Rank     1523 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 52.3+ KB

In [89]:
df_final['Year'].describe()

count    1670.000000
mean     2018.400000
std         3.040647
min      2013.000000
25%      2016.000000
50%      2018.500000
75%      2021.000000
max      2023.000000
Name: Year, dtype: float64

In [12]:
df['Rank'].describe()

count    1523.000000
mean       76.777413
std        44.190303
min         1.000000
25%        39.000000
50%        77.000000
75%       115.000000
max       158.000000
Name: Rank, dtype: float64

Pegando os top 10 no rankin de felicidade.

In [40]:
df['Index'].describe()

count    1523.000000
mean        5.438242
std         1.115623
min         1.859000
25%         4.594000
50%         5.425000
75%         6.258500
max         7.842000
Name: Index, dtype: float64

In [ ]:
# Salva o DataFrame como um arquivo CSV
df.to_csv(, index=False)

# Index=False é usado para evitar a inclusão do índice do DataFrame no arquivo CSV